language: ruby
rvm:
  - 2.1
script:
  - bundle exec rspec spec
before_script:
  - cp config/database.travis.yml config/database.yml
  - psql -c 'create database jarviis_test' -U postgres
  - RAILS_ENV=test bundle exec rake db:migrate
services:
  - elasticsearch
