<div id="full-bg"></div>
<div class="jumbotron">
  <h1 class="center">Issue Tracking done right.</h1>

  <p class="center">Get your team organized around a single point of truth.</p>
  <p class="center">Manage your projects more efficiently and be the hero of the day.</p>

  <p class="center">
    <%= link_to "Join Now", new_user_registration_path, class: 'btn-lg btn-success center' %>
  </p>
</div>
