/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require_tree .
 *= require_tree ./vendors
 *= require bootstrap3-editable/bootstrap-editable
 */
@font-face {
    font-family: 'Blade Runner';
    src: url('/assets/bladrmf_-webfont.eot');
    src: url('/assets/bladrmf_-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/bladrmf_-webfont.woff') format('woff'),
         url('/assets/bladrmf_-webfont.ttf') format('truetype'),
         url('/assets/bladrmf_-webfont.svg#blade_runner_movie_fontRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

