$navbar-default-bg: #2c3e50;
$border-radius-base: 3px;
$navbar-default-brand-color: #ecf0f1;
$navbar-default-link-color: #ecf0f1;
$navbar-default-link-hover-color: #bdc3c7;
$navbar-default-link-active-color: #bdc3c7;
$navbar-default-link-active-bg: #2c3e50;
$jumbotron-bg: rgba(255, 255, 255, 0);
$navbar-padding-vertical: 10px;
$btn-success-bg: #27ae60;
$btn-default-bg: rgba(236, 240, 241,0.8);

@import 'bootstrap';
a, a:hover, a:active, a:focus { outline: 0 }
body {
  font-family: 'Open Sans', sans-serif;
}
main#landing {
  margin-top: 150px;
  background: none repeat scroll 0 0 rgba(44, 62, 80, 0.6);
  color: #F7F7F7;
}
.hidden {
  display: none!important;
}
#full-bg {
  background: url('/background.png');
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

#assigned, #reported {
  padding: 0;
  display: inline;
  .no-issue td {
    text-align: center;
    color: #777;
  }
}

#assignee_chosen {
  width: 100% !important;
}

.issue-title {
  h3 {
    margin: 0;
    display: inline-block;
  }
  .label {
    text-transform: capitalize;
    vertical-align: super;
  }
}

#issue-details {
  .img-thumbnail {
    width: 150px;
    height: 150px;
  }

  .buttons {
    padding: 20px 0;
  }

  .description {
    width: 500px;
  }

  code {
    min-height: 20px;
    padding: 10px;
    margin: 30px 20px;
    background-color: whitesmoke;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  }

  .editable-click {
    border-bottom: 0;
  }

  .editable-click:hover {
    border-bottom: dashed 1px #0088cc !important;
  }
}

.center {
  margin: 30px 0;
  text-align: center;
}
#main .panel-default {
  width: 49%;
  display: inline-block;
  vertical-align: top;
}
.navbar {
  border-radius: 0;
  border: 0;
  .navbar-brand {
    font-family: 'Blade Runner';
    font-size: 23px;
    line-height: 29px;
    margin-left: -2px !important;
    background: #34495e;
  }
  .dropdown-menu {
    margin-top: 3px!important;
  }
  #results {
    position: absolute;
    top: 50px;
    z-index: 9999;
    width: 400px;
    -webkit-box-shadow: 0px 5px 10px 1px rgba(128,128,128,0.3);
    -moz-box-shadow: 0px 5px 10px 1px rgba(128,128,128,0.3);
    box-shadow: 0px 5px 10px 1px rgba(128,128,128,0.3);

    .list-group-item:first-child {
      border-radius: 0;
    }

    .active a {
      color: #fff;
    }
  }
  .fa-terminal {
    left: 28px;
    position: relative;
    top: 3px;
    color: #f7f7f7;
    font-size: 20px;
  }
  #search-input {
    width: 400px;
    background: transparent;
    border: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-left: 30px;
    color: #16a085;
  }
  .avatar {
    margin-right: 10px;
    height: 24px;
  }
  .fa {
    margin-right: 10px;
  }
  .form-control::-moz-placeholder {
    font-style: italic;
    color: #1abc9c;
  }
}
.pagination {
  margin: 0;
}

#settings, #app {
  margin: 20px 30px;
  h2 {
    margin: 20px 0;
  }
}
.sign-in-form, .reset-password-form {
  background: #1ABC9C;
  .logo {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    line-height: 2em;
    left: 500px;
    position: absolute;
    top: 131px;
    img {
      display: block;
    }
  }
}

.login-screen {
    background-color: #1ABC9C;
    min-height: 317px;
    padding: 123px 397px 33px 669px
}
.login-form {
    background-color: #EDEFF1;
    border-radius: 6px 6px 6px 6px;
    padding: 24px 23px 20px;
    position: relative;
}
.login-form:before {
    border-color: transparent #EDEFF1 transparent transparent;
    border-style: solid;
    border-width: 12px 12px 12px 0;
    content: "";
    height: 0;
    left: -12px;
    position: absolute;
    top: 35px;
    width: 0;
}

.modal-dialog {
  .modal-content {
    border-bottom: 0;
    border-radius: 0;
  }
  .modal-minimized {
    display: none;
    background: $navbar-default-bg;
    color: #F7F7F7;
    float: right;
    padding: 7px 13px;
    width: 230px;
    #maximize {
      opacity: 1;
      color: #F7F7F7;
    }
  }
  #minimize {
    float: right;
  }
  .close {
    margin-left: 10px;
  }
  position: fixed;
  bottom: 0;
  right: 5px;
  top: auto;
  left: auto;
  margin: 0;
  width: 460px;
}
/* layout.css Style */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}
