$navbar-default-bg: #2c3e50;
$border-radius-base: 0;
$navbar-default-brand-color: #ecf0f1;
$navbar-default-link-color: #ecf0f1;
$navbar-default-link-hover-color: #bdc3c7;
$navbar-default-link-active-color: #bdc3c7;
$navbar-default-link-active-bg: #2c3e50;
$brand-primary: #e74c3c;
$jumbotron-bg: transparent;
$navbar-padding-vertical: 10px;
$btn-success-bg: #27ae60;
$btn-default-bg: rgba(236, 240, 241,0.8);

@import 'bootstrap';

$petrol: #526476;
$dark-blue: #34495E;
$darker-blue: #2c3e50;

.navbar {
  border: 0;
  .navbar-brand {
    margin-left: -2px !important;
    background: #34495e;
  }
  li {
    margin-top: 2px;
  }
  .avatar {
    margin-right: 10px;
    height: 24px;
  }
  .fa {
    margin-right: 10px;
  }
}

#settings, #app {
  margin: 20px 30px;
  h2 {
    margin: 20px 0;
  }
}
.sign-in-form, .reset-password-form {
  background: #1ABC9C;
  .logo {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    line-height: 2em;
    left: 500px;
    position: absolute;
    top: 131px;
    img {
      display: block;
    }
  }
}

.login-screen {
    background-color: #1ABC9C;
    min-height: 317px;
    padding: 123px 397px 33px 669px
}
.login-form {
    background-color: #EDEFF1;
    border-radius: 6px 6px 6px 6px;
    padding: 24px 23px 20px;
    position: relative;
}
.login-form:before {
    border-color: transparent #EDEFF1 transparent transparent;
    border-style: solid;
    border-width: 12px 12px 12px 0;
    content: "";
    height: 0;
    left: -12px;
    position: absolute;
    top: 35px;
    width: 0;
}
