<div class="navbar navbar-inverse">
  <div id="navbar" class="navbar-inner">
    <div class="container">
      <a href="/" class="nav-logo">
        <%= image_tag "logo.png" %>
      </a>
      <% if user_signed_in? %>
      <div id="navigation" class="nav-collapse collapse">
        <ul class="nav">
          <li class="action">
            <a href="#" class="add-issue"><i class="fa fa-plus"></i></a>
          </li>
          <li>
            <a href="#fakelink">
              issues
            </a>
          </li>
          <li class="account-menu">
            <a href="#" id="add-issue">
              <%= image_tag gravatar_url(current_user.email, secure: true, size: 36), :alt => 'avatar' %>
                <%= current_user.name %>
              <i class="icon-reorder"></i>
            </a>
            <ul>
              <li><a href="#fakelink">Profile</a></li>
              <li><a href="/users/edit">Account Settings</a></li>
              <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            </ul>
          </li>
        </ul>
        <% end %>
      </div><!--/.nav -->
    </div>
  </div>
</div>

